<h1> Login </h1>
<%= flash[:notice] %><br>

<%= form_for @user, :url => url_for(:controller => 'sessions', :action => 'create') do |f| %>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br>

  <%= f.label :password %> <br>
  <%= f.password_field :password %> <br>

  <p></p>

  <%= f.submit "Sign In" %>
<% end %>

<p></p>
<p></p>

<%= link_to "Click here if new user", new_user_path %>

